<link rel="stylesheet" href="/css/modal.css">

<header class="main-header">
  <!-- Start Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
    <div class="container">
      <!-- Start Header Navigation -->
      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
          aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" class="logo" alt="" /></a>
      </div>
      <!-- End Header Navigation -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/shop/wishlist">Wishlist</a></li>
          <li class="nav-item"><a class="nav-link" href="/shop">Products</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

      <!-- Start Atribute Navigation -->
      <div class="attr-nav">
        <ul>
          <li class="search"><a href="/#"><i class="fa fa-search"></i></a></li>
          <li class="side-menu">
            <a href="/shop/cart">
              <i class="fa fa-shopping-bag"></i>
              <span class="badge">3</span>
              <p>My Cart</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- End Atribute Navigation -->
    </div>
  </nav>
  <!-- End Navigation -->
</header>