<nav id="sidebar" style="display: flex; flex-direction: column; justify-content: space-between;">
  <ul class="list-unstyled components" style="padding-top: 0px;">
    <p>Freshshop</p>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <ul class="list-unstyled CTAs">
    <li>
      <a
        href="/{{title}}/logout"
        class="download"
      >Logout</a>
    </li>
    <li>
  </ul>
</nav>