<html lang="en">
  {{> head}}
  <body>
    <link rel="stylesheet" href="/css/admin/sidebar.css">
    <div class="wrapper">
        {{> sidebar}}
        <div id="content">
            {{{body}}}
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
        </script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
  </body>
</html>