<div class="top-search">
  <div class="container">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Search" />
      <span class="input-group-addon close-search"><i
          class="fa fa-times"
        ></i></span>
    </div>
  </div>
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Cart</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/#">Shop</a></li>
          <li class="breadcrumb-item active">Cart</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start Cart  -->
<div class="cart-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-main table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Images</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="thumbnail-img">
                  <a href="/#">
                    <img
                      class="img-fluid"
                      src="/images/img-pro-01.jpg"
                      alt=""
                    />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="/#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 80.0</p>
                </td>
                <td class="quantity-box"><input
                    type="number"
                    size="4"
                    value="1"
                    min="0"
                    step="1"
                    class="c-input-text qty text"
                  /></td>
                <td class="total-pr">
                  <p>$ 80.0</p>
                </td>
                <td class="remove-pr">
                  <a href="/#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="thumbnail-img">
                  <a href="/#">
                    <img
                      class="img-fluid"
                      src="/images/img-pro-02.jpg"
                      alt=""
                    />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="/#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 60.0</p>
                </td>
                <td class="quantity-box"><input
                    type="number"
                    size="4"
                    value="1"
                    min="0"
                    step="1"
                    class="c-input-text qty text"
                  /></td>
                <td class="total-pr">
                  <p>$ 80.0</p>
                </td>
                <td class="remove-pr">
                  <a href="/#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td class="thumbnail-img">
                  <a href="/#">
                    <img
                      class="img-fluid"
                      src="/images/img-pro-03.jpg"
                      alt=""
                    />
                  </a>
                </td>
                <td class="name-pr">
                  <a href="/#">
                    Lorem ipsum dolor sit amet
                  </a>
                </td>
                <td class="price-pr">
                  <p>$ 30.0</p>
                </td>
                <td class="quantity-box"><input
                    type="number"
                    size="4"
                    value="1"
                    min="0"
                    step="1"
                    class="c-input-text qty text"
                  /></td>
                <td class="total-pr">
                  <p>$ 80.0</p>
                </td>
                <td class="remove-pr">
                  <a href="/#">
                    <i class="fas fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-lg-6 col-sm-6">
        <div class="coupon-box">
          <div class="input-group input-group-sm">
            <input
              class="form-control"
              placeholder="Enter your coupon code"
              aria-label="Coupon code"
              type="text"
            />
            <div class="input-group-append">
              <button class="btn btn-theme" type="button">Apply Coupon</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="update-box">
          <input value="Update Cart" type="submit" />
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-lg-8 col-sm-12"></div>
      <div class="col-lg-4 col-sm-12">
        <div class="order-box">
          <h3>Order summary</h3>
          <div class="d-flex">
            <h4>Sub Total</h4>
            <div class="ml-auto font-weight-bold"> $ 130 </div>
          </div>
          <div class="d-flex">
            <h4>Discount</h4>
            <div class="ml-auto font-weight-bold"> $ 40 </div>
          </div>
          <hr class="my-1" />
          <div class="d-flex">
            <h4>Coupon Discount</h4>
            <div class="ml-auto font-weight-bold"> $ 10 </div>
          </div>
          <div class="d-flex">
            <h4>Tax</h4>
            <div class="ml-auto font-weight-bold"> $ 2 </div>
          </div>
          <div class="d-flex">
            <h4>Shipping Cost</h4>
            <div class="ml-auto font-weight-bold"> Free </div>
          </div>
          <hr />
          <div class="d-flex gr-total">
            <h5>Grand Total</h5>
            <div class="ml-auto h5"> $ 388 </div>
          </div>
          <hr />
        </div>
      </div>
      <div class="col-12 d-flex shopping-box"><a
          href="/checkout.html"
          class="ml-auto btn hvr-hover"
        >Checkout</a>
      </div>
    </div>

  </div>
</div>
<!-- End Cart -->

<!-- Start Instagram Feed  -->
<div class="instagram-box">
  <div class="main-instagram owl-carousel owl-theme">
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-01.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-02.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-03.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-04.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-05.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-06.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-07.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-08.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-09.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ins-inner-box">
        <img src="/images/instagram-img-05.jpg" alt="" />
        <div class="hov-in">
          <a href="/#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>