<link rel="stylesheet" href="/css/login.css">

<div class="form_body">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form action="/{{login}}/login" method="post">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                    {{#if error}}<p style="color: red;">{{error}}</p>{{/if}}
                    <div class="form-floating">
                        <input type="text" name="username" class="form-control mb-3" id="floatingInput"
                            placeholder="Username">
                        <label for="floatingInput">Username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>